In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [38]:
campaigns_df = pd.read_csv('../data/campaigns.csv')
campaigns_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1907 entries, 0 to 1906
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            1907 non-null   int64
 1   campaign_type                 1907 non-null   object
 2   channel                       1907 non-null   object
 3   topic                         1877 non-null   object
 4   started_at                    1824 non-null   object
 5   finished_at                   1808 non-null   object
 6   total_count                   1824 non-null   float64
 7   ab_test                       12 non-null     object
 8   warmup_mode                   1830 non-null   object
 9   hour_limit                    31 non-null     float64
 10  subject_length                1880 non-null   float64
 11  subject_with_personalization  1880 non-null   object
 12  subject_with_deadline         1880 non-null   object
 13  subject_with_emoji            1880 non-null   object
 14  subject_with_bonuses          1880 non-null   object
 15  subject_with_discount         1880 non-null   object
 16  subject_with_saleout          1880 non-null   object
 17  is_test                       27 non-null     object
 18  position                      24 non-null     float64
dtypes: float64(4), int64(1), object(14)
memory usage: 283.2+ KB

In [39]:
campaigns_df.head()

,id,campaign_type,channel,topic,started_at,finished_at,total_count,ab_test,warmup_mode,hour_limit,subject_length,subject_with_personalization,subject_with_deadline,subject_with_emoji,subject_with_bonuses,subject_with_discount,subject_with_saleout,is_test,position
0,63,bulk,mobile_push,sale out,2021-04-30 07:22:36.615023,2021-04-30 07:23:41,48211.0,NaN,False,NaN,146.0,False,False,True,False,False,False,NaN,NaN
1,64,bulk,mobile_push,sale out,2021-04-30 09:02:50.817227,2021-04-30 09:04:08,1037337.0,NaN,False,NaN,97.0,False,False,True,False,False,False,NaN,NaN
2,78,bulk,mobile_push,sale out,2021-05-06 07:14:10.533318,2021-05-06 07:15:17,70080.0,NaN,False,NaN,146.0,False,False,True,False,False,False,NaN,NaN
3,79,bulk,mobile_push,sale out,2021-05-06 09:03:56.486750,2021-05-06 09:42:15,921838.0,NaN,False,NaN,97.0,False,False,True,False,False,False,NaN,NaN
4,89,bulk,mobile_push,NaN,2021-05-07 11:54:06.168664,2021-05-07 11:54:38,45503.0,NaN,False,NaN,109.0,False,True,True,False,False,False,NaN,NaN

In [40]:
campaigns_df['started_at'] = pd.to_datetime(campaigns_df['started_at'])
campaigns_df['finished_at'] = pd.to_datetime(campaigns_df['finished_at'])
campaigns_df['total_count'] = campaigns_df['total_count'].astype('Int64')
campaigns_df['ab_test'] = campaigns_df['ab_test'].astype('bool')
campaigns_df['warmup_mode'] = campaigns_df['warmup_mode'].astype('bool')
campaigns_df['hour_limit'] = campaigns_df['hour_limit'].astype('Int64')
campaigns_df['subject_length'] = campaigns_df['subject_length'].astype('Int64')
campaigns_df['subject_with_personalization'] = campaigns_df['subject_with_personalization'].astype('bool')
campaigns_df['subject_with_deadline'] = campaigns_df['subject_with_deadline'].astype('bool')
campaigns_df['subject_with_emoji'] = campaigns_df['subject_with_emoji'].astype('bool')
campaigns_df['subject_with_bonuses'] = campaigns_df['subject_with_bonuses'].astype('bool')
campaigns_df['subject_with_discount'] = campaigns_df['subject_with_discount'].astype('bool')
campaigns_df['subject_with_saleout'] = campaigns_df['subject_with_saleout'].astype('bool')
campaigns_df['is_test'] = campaigns_df['is_test'].astype('bool')
campaigns_df['position'] = campaigns_df['position'].astype('Int64')

In [41]:
campaigns_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1907 entries, 0 to 1906
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            1907 non-null   int64
 1   campaign_type                 1907 non-null   object
 2   channel                       1907 non-null   object
 3   topic                         1877 non-null   object
 4   started_at                    1824 non-null   datetime64[ns]
 5   finished_at                   1808 non-null   datetime64[ns]
 6   total_count                   1824 non-null   Int64
 7   ab_test                       1907 non-null   bool
 8   warmup_mode                   1907 non-null   bool
 9   hour_limit                    31 non-null     Int64
 10  subject_length                1880 non-null   Int64
 11  subject_with_personalization  1907 non-null   bool
 12  subject_with_deadline         1907 non-null   bool
 13  subject_with_emoji            1907 non-null   bool
 14  subject_with_bonuses          1907 non-null   bool
 15  subject_with_discount         1907 non-null   bool
 16  subject_with_saleout          1907 non-null   bool
 17  is_test                       1907 non-null   bool
 18  position                      24 non-null     Int64
dtypes: Int64(4), bool(9), datetime64[ns](2), int64(1), object(3)
memory usage: 173.3+ KB

In [42]:
campaigns_df.describe()

,id,started_at,finished_at,total_count,hour_limit,subject_length,position
count,1907.000000,1824,1808,1824.0,31.0,1880.0,24.0
mean,6122.944415,2022-07-19 04:33:43.617460480,2022-07-19 09:28:15.672566528,374129.463268,64874.193548,94.340426,6.333333
min,26.000000,2021-04-30 07:22:36.615023,2021-04-30 07:23:41,1.0,300.0,4.0,0.0
25%,2933.500000,2022-02-22 13:07:54.283733248,2022-02-22 13:15:39.500000,846.75,6500.0,92.0,2.75
50%,6078.000000,2022-08-29 20:42:29.660624896,2022-08-29 20:47:42.500000,2006.5,10000.0,96.0,5.5
75%,8964.500000,2022-12-21 09:30:20.732557312,2022-12-21 12:49:31,282033.25,35500.0,112.0,10.0
max,25007.000000,2023-04-21 15:30:14.136724,2023-04-21 16:09:50,5371769.0,1000000.0,185.0,14.0
std,3847.749021,NaN,NaN,819845.889171,184639.986582,28.482613,4.536487

In [43]:
client_fpd_df = pd.read_csv('../data/client_first_purchase_date.csv')
client_fpd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175439 entries, 0 to 175438
Data columns (total 4 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   client_id            175439 non-null  int64
 1   first_purchase_date  175439 non-null  object
 2   user_id              175439 non-null  int64
 3   user_device_id       175439 non-null  int64
dtypes: int64(3), object(1)
memory usage: 5.4+ MB

In [44]:
client_fpd_df['first_purchase_date'] =  pd.to_datetime(client_fpd_df['first_purchase_date'])

In [45]:
events_df = pd.read_csv('../data/events.csv')
events_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1275727 entries, 0 to 1275726
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   event_time     1275727 non-null  object
 1   event_type     1275727 non-null  object
 2   product_id     1275727 non-null  int64
 3   category_id    1275727 non-null  int64
 4   category_code  953612 non-null   object
 5   brand          1103692 non-null  object
 6   price          1275727 non-null  float64
 7   user_id        1275727 non-null  int64
 8   user_session   1275727 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 87.6+ MB

In [46]:
events_df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 02:19:22 UTC,view,1004238,2053013555631882655,electronics.smartphone,apple,1206.40,555462125,7ea7cb65-c4d9-428f-bf3b-845adb8b6800
1,2019-10-01 02:19:27 UTC,view,1004238,2053013555631882655,electronics.smartphone,apple,1206.40,555462125,7ea7cb65-c4d9-428f-bf3b-845adb8b6800
2,2019-10-01 02:20:58 UTC,view,12100563,2053013555816432043,kids.skates,xiaomi,514.79,555462177,7fb7bd3e-5985-4189-8e5e-cf92e484dcf0
3,2019-10-01 02:21:08 UTC,view,12100513,2053013555816432043,kids.skates,maomaoku,338.23,555462177,7fb7bd3e-5985-4189-8e5e-cf92e484dcf0
4,2019-10-01 02:21:36 UTC,view,12100629,2053013555816432043,kids.skates,kugoo,293.19,555462177,7fb7bd3e-5985-4189-8e5e-cf92e484dcf0

In [47]:
events_df['event_time'] = pd.to_datetime(events_df['event_time'])

In [48]:
messages_df = pd.read_csv('../data/messages.csv')
messages_df.info()

C:\Users\Диана\AppData\Local\Temp\ipykernel_8028\4220761152.py:1: DtypeWarning: Columns (7,8,16,17,21,23,25,27,29) have mixed types. Specify dtype option on import or set low_memory=False.
  messages_df = pd.read_csv('../data/messages.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2996201 entries, 0 to 2996200
Data columns (total 34 columns):
 #   Column                 Dtype
---  ------                 -----
 0   id                     int64
 1   message_id             object
 2   campaign_id            int64
 3   message_type           object
 4   client_id              int64
 5   channel                object
 6   category               float64
 7   platform               object
 8   email_provider         object
 9   stream                 object
 10  date                   object
 11  sent_at                object
 12  is_opened              object
 13  opened_first_time_at   object
 14  opened_last_time_at    object
 15  is_clicked             object
 16  clicked_first_time_at  object
 17  clicked_last_time_at   object
 18  is_unsubscribed        object
 19  unsubscribed_at        object
 20  is_hard_bounced        object
 21  hard_bounced_at        object
 22  is_soft_bounced        object
 23  soft_bounced_at        object
 24  is_complained          object
 25  complained_at          object
 26  is_blocked             object
 27  blocked_at             object
 28  is_purchased           object
 29  purchased_at           object
 30  created_at             object
 31  updated_at             object
 32  user_device_id         int64
 33  user_id                int64
dtypes: float64(1), int64(5), object(28)
memory usage: 777.2+ MB

In [49]:
messages_df.columns

Index(['id', 'message_id', 'campaign_id', 'message_type', 'client_id',
       'channel', 'category', 'platform', 'email_provider', 'stream', 'date',
       'sent_at', 'is_opened', 'opened_first_time_at', 'opened_last_time_at',
       'is_clicked', 'clicked_first_time_at', 'clicked_last_time_at',
       'is_unsubscribed', 'unsubscribed_at', 'is_hard_bounced',
       'hard_bounced_at', 'is_soft_bounced', 'soft_bounced_at',
       'is_complained', 'complained_at', 'is_blocked', 'blocked_at',
       'is_purchased', 'purchased_at', 'created_at', 'updated_at',
       'user_device_id', 'user_id'],
      dtype='object')

In [50]:
messages_df.head(5)

,id,message_id,campaign_id,message_type,client_id,channel,category,platform,email_provider,stream,...,is_complained,complained_at,is_blocked,blocked_at,is_purchased,purchased_at,created_at,updated_at,user_device_id,user_id
0,3527358,3f6aaad3-bab7-4886-b083-fe8c1f210066,31,transactional,1515915625489833514,email,NaN,NaN,mail.ru,desktop,...,f,NaN,f,NaN,t,2021-05-06 16:40:38,2023-04-27 08:55:05.883908,2023-04-27 08:57:33.080129,4,548983351
1,3532962,6bc733bc-e665-4252-8c2d-bc605bb8e5b8,179,transactional,1515915625491048279,email,NaN,NaN,gmail.com,desktop,...,f,NaN,f,NaN,f,NaN,2023-04-27 08:55:14.094663,2023-04-27 08:56:26.183622,9,549104827
2,3527800,19f8c608-b0e0-4a4d-ab42-40b8f47fedf3,32,transactional,1515915625468175331,email,NaN,NaN,gmail.com,desktop,...,f,NaN,f,NaN,t,2021-05-05 22:17:19,2023-04-27 08:55:06.51997,2023-04-27 08:56:37.95411,1,546817533
3,3530932,f6dccc8b-5f0e-4f94-9fee-d18d611f03df,32,transactional,1515915625559827831,email,NaN,NaN,mail.ru,desktop,...,f,NaN,f,NaN,f,NaN,2023-04-27 08:55:11.003305,2023-04-27 08:56:41.980678,1,555982783
4,3520809,c2ed517d-38b6-42fd-8cc5-c1dce5ab58e4,26,transactional,1515915625468112259,email,NaN,NaN,yandex.ru,desktop,...,f,NaN,f,NaN,f,NaN,2023-04-27 08:54:56.305159,2023-04-27 08:55:18.46432,9,546811225

In [51]:
messages_df['platform'].value_counts(dropna=False)

platform
NaN           2775993
desktop        165694
smartphone      51432
phablet          2033
tablet           1049
Name: count, dtype: int64

In [52]:
messages_df['category'].value_counts(dropna=False)

category
NaN    2996201
Name: count, dtype: int64

In [53]:
messages_df['complained_at'].value_counts(dropna=False)

complained_at
NaN                    2994822
2021-05-20 05:00:06          6
2021-08-18 15:00:13          6
2021-06-15 14:20:21          6
2021-06-15 14:24:42          5
                        ...
2021-06-15 14:24:19          1
2021-06-15 14:22:37          1
2021-06-15 14:25:02          1
2021-06-15 14:24:00          1
2021-06-15 14:24:08          1
Name: count, Length: 1051, dtype: int64

In [54]:
messages_df['is_soft_bounced'].value_counts(dropna=False)

is_soft_bounced
f    2994822
t       1379
Name: count, dtype: int64

In [55]:
messages_df['date'] = pd.to_datetime(messages_df['date'])
messages_df['sent_at'] = pd.to_datetime(messages_df['sent_at'])

def to_bool(value):
    return value == 't'

messages_df['is_opened'] = messages_df['is_opened'].apply(to_bool)
messages_df['opened_first_time_at'] = pd.to_datetime(messages_df['opened_first_time_at'])
messages_df['opened_last_time_at'] = pd.to_datetime(messages_df['opened_last_time_at'])
messages_df['is_clicked'] = messages_df['is_clicked'].apply(to_bool)
messages_df['clicked_first_time_at'] = pd.to_datetime(messages_df['clicked_first_time_at'])
messages_df['clicked_last_time_at'] = pd.to_datetime(messages_df['clicked_last_time_at'])
messages_df['is_unsubscribed'] = messages_df['is_unsubscribed'].apply(to_bool)
messages_df['unsubscribed_at'] = pd.to_datetime(messages_df['unsubscribed_at'])
messages_df['is_hard_bounced'] = messages_df['is_hard_bounced'].apply(to_bool)
messages_df['hard_bounced_at'] = pd.to_datetime(messages_df['hard_bounced_at'])
messages_df['is_soft_bounced'] = messages_df['is_soft_bounced'].apply(to_bool)
messages_df['soft_bounced_at'] = pd.to_datetime(messages_df['soft_bounced_at'])
messages_df['is_complained'] = messages_df['is_complained'].apply(to_bool)
messages_df['complained_at'] = pd.to_datetime(messages_df['complained_at'])
messages_df['is_blocked'] = messages_df['is_blocked'].apply(to_bool)
messages_df['blocked_at'] = pd.to_datetime(messages_df['blocked_at'])
messages_df['is_purchased'] = messages_df['is_purchased'].apply(to_bool)
messages_df['purchased_at'] = pd.to_datetime(messages_df['purchased_at'])

In [56]:
messages_df['created_at'] = pd.to_datetime(
    messages_df['created_at'], 
    format='mixed'  
)
messages_df['updated_at'] = pd.to_datetime(
    messages_df['updated_at'], 
    format='mixed'
)

In [57]:
friends_df = pd.read_csv("../data/friends.csv")
friends_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1974236 entries, 0 to 1974235
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   friend1  int64
 1   friend2  int64
dtypes: int64(2)
memory usage: 30.1 MB

Comparision of channel and message_type from campaigns and campaign_type and channel from messages

In [58]:
campaigns_df['channel'].value_counts(dropna=False)

channel
mobile_push     1396
email            483
multichannel      27
sms                1
Name: count, dtype: int64

In [59]:
messages_df['channel'].value_counts(dropna=False)

channel
email          1727783
mobile_push    1268341
web_push            77
Name: count, dtype: int64

In [60]:
campaigns_df['campaign_type'].value_counts(dropna=False)

campaign_type
bulk             1830
transactional      50
trigger            27
Name: count, dtype: int64

In [61]:
messages_df['message_type'].value_counts(dropna=False)

message_type
bulk             2119782
trigger           638513
transactional     237906
Name: count, dtype: int64

In [ ]:
def check_merge_possibility(df1, pk_columns, df2, merge_columns):
   
    pk_duplicates = df1.duplicated(subset=pk_columns).sum()
    if pk_duplicates > 0:
        print(f"В первом датасете найдены дубликаты PK: {pk_duplicates} шт")

    df1_key = df1[pk_columns].drop_duplicates().reset_index(drop=True)
    df2_key = df2[merge_columns].drop_duplicates().reset_index(drop=True)
    merged = df2_key.merge(
        df1_key, 
        left_on=merge_columns, 
        right_on=pk_columns, 
        how='left', 
        indicator=True
    )
    
    missing_keys = merged[merged['_merge'] == 'left_only']
    coverage = 1 - len(missing_keys)/len(df2_key)
    
    print(f"Покрытие ключей: {coverage:.1%}")
    if len(missing_keys) > 0:
        print(f"Примеры отсутствующих ключей:")
        print(missing_keys.head().to_string(index=False))
    
    na_in_pk1 = df1[pk_columns].isna().any(axis=1).sum()
    na_in_pk2 = df2[merge_columns].isna().any(axis=1).sum()
    
    if na_in_pk1 > 0:
        print(f"В первом датасете пропуски в PK: {na_in_pk1} строк")
    if na_in_pk2 > 0:
        print(f"Во втором датасете пропуски в ключах: {na_in_pk2} строк")
    
    return len(missing_keys) == 0 and pk_duplicates == 0

check_merge_possibility(
    df1=campaigns_df,
    pk_columns=['id', 'campaign_type'],
    df2=messages_df,
    merge_columns=['campaign_id', 'message_type']
)

Покрытие ключей: 100.0%

np.True_

It seems like it could be possible to make composite pk for campaign table and fk for messages. Check more